$font-blue: #4A99D3;
$font-hover: #173e59;

// What our client say + Download to more 
.feedback{
    position: relative;
    &__decoration-blue {   
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__decoration-orange {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.feedback::before {
    position: absolute;
    content: " ";
    background: rgba(74, 153, 211, 0.1);
    height: 400px;
    width: 40%;
    top: 300px;
}
.feedback::after {
    content: " ";
    position: absolute;
    background-image: url("../image/dots-decoration.png");
    top: 420px;
    right: 0;
    width: 154px;
    height: 154px;
}
.section__wrapper {
    h3 {
        padding-top: 140px;
        text-align: center;
        font-size: 26px;
        margin-bottom: 11px;
    } 
}

// Carousel ===
.carousel {
    position: relative;
    height: 100%;
    margin-bottom: 215px;
    &-box {
        display: flex;
        overflow-x: hidden;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }
   
    .client-box {  
        position: relative; 
        width: 50%;
    }
    .client-feedback {
        width: 50%;
        height: 100%;
        margin-top: 212px;
        .feedback-text {
            height: 40%;
            margin-top: 43.13px;
            margin-bottom: 40px;
            font-size: 1rem;
            opacity: 0.5;
            line-height: 24px;
        }
        .client-name {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.carousel-slide {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex: none;
    scroll-snap-align: center;
    a {
        background: none;
        border: none;
        z-index: 1;
    }
}

.left, .carousel-box::before{
    transform: rotate(135deg);
    right: 10%;
}
.right, .carousel-box::after {
    transform: rotate(-45deg);
    right: 5%;
} 
.left, .right, .carousel-box::before, .carousel-box::after {
    position: absolute;
    bottom: 1%;
    width: 20px;
    height: 20px;
    border: solid black;
    border-width: 0 4px 4px 0;
    padding: 3px; 
}
.carousel-box::before, .carousel-box::after {
    content: " ";
    z-index: 1;
    pointer-events: none;
}


// Download to enjoy section 
.download-to-more {
    display: flex;
    padding-bottom: 150px;
    &__mockUp {
        position: relative;
        width: 50%;
        animation-name: phones;
        animation-duration: 1s;
        animation-iteration-count: 1;
        img:nth-child(1) {
           top: 0;
           left: 0;
        }
        img:nth-child(2){
            position: absolute;
            top: -57px;
            left: 138px;
            z-index: 2;
        }
        img:nth-child(3) {
            position: absolute;
            top: 0;
            left: 340px;
        }
    }
    @keyframes phones {
        0% {
            transform: translateX(-2000px);
        }
        100% {
            transform: translateX(0) ;
        }   
    }
    
    &__info {
        width: 50%;
        &_title{
            margin-top: 60px;
            font-weight: 700;
            font-size: 1.56rem;
            text-align: center;
        }
        &_text {
            margin-top: 16px;
            font-weight: 400;
            font-size: 1rem;
            line-height: 24px;
            opacity: 0.5;
            text-align: center;
        }
    }
    &__button_box {
        font-size: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 60px;
        .download-button {
            margin: 0;
            background-color: #0F001A;
            }
        .download-button:hover {
            background-color: $font-blue;
        }
        
    }
}

@media (max-width: 880px) {
    // feedback section 
    .feedback__decoration-blue, .feedback__decoration-orange {
        transform: scale(0.75);
    }
    .feedback::before {
        height: 325px;
    }
    .feedback::after {
        width: 108px;
        height: 108px;
    }
    .carousel {
        margin-bottom: 50px;
    }
    .client-photo {
        transform: scale(0.7);
    }
    // download to more section 
    .download-to-more {
        &__mockUp {
            img:nth-child(1) {
               transform: scale(0.7);
               top: 0;
               left: 0;
            }
            img:nth-child(2){
                transform: scale(0.7);
                left: 90px;
            }
            img:nth-child(3) {
                transform: scale(0.7);
                left: 240px;
            }
        }
    } 
}