*,
::after,
::before {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

body, p, a, h1, h2, h3 {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  font-family: "Roboto";
  font-style: normal;
  color: #0F001A;
  text-decoration: none;
}

html {
  font-size: 16px;
}

.header {
  background: linear-gradient(rgba(74, 153, 211, 0.2) -17.33%, rgba(74, 153, 211, 0) 75.91%), #FFFFFF;
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.1);
}

.main-logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 42px;
  color: #4A99D3;
  text-transform: uppercase;
}

.header__nav {
  padding-top: 40px;
  margin-bottom: 146px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 71px;
  padding-top: 45px;
}
.header__nav .menu-element {
  margin-left: 2.7em;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #0F001A;
  transition: 0.1s;
}
.header__nav .menu-element:hover {
  color: #4A99D3;
}

.header__content {
  display: flex;
  flex-direction: row;
  padding-bottom: 78px;
}
.header__content-info {
  width: 60%;
  margin-right: 32px;
}
.header__content-image {
  width: 40%;
  position: relative;
  margin-bottom: 77px;
  margin-right: 20px;
  -webkit-animation-name: Mockup;
          animation-name: Mockup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.header__content-image .mockup-small {
  z-index: 1;
  position: relative;
  left: 50px;
  bottom: 0;
  transform: translateY(35px);
}
.header__content-image .mockup-big {
  position: absolute;
  right: 0;
  transform: translateY(-38px);
}
@-webkit-keyframes Mockup {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes Mockup {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}
.header__content-download {
  display: flex;
  flex-direction: row;
  justify-content: left;
  font-size: 10px;
}
.header__content-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  text-align: left;
  margin-top: 1.5em;
}
.header__content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.8em;
  margin: 14px 0 60px 0;
  text-align: left;
}

@media (max-width: 1360px) {
  .header__content-image .mockup-small {
    left: -70px;
  }
  .header__content-image .mockup-big {
    right: -40px;
  }
}
@media (min-width: 481px) and (max-width: 880px) {
  .header__nav {
    margin-bottom: 0px;
  }
  .header__nav .menu-element {
    display: none;
  }
  .header__content {
    padding-top: 0;
  }
  .header__content-info {
    width: 50%;
  }
  .header__content-image {
    margin-right: 5px;
    width: 50%;
  }
  .header__content-image .mockup-small {
    right: 100px;
    top: 65px;
    transform: scale(0.75);
  }
  .header__content-image .mockup-big {
    top: 0;
    right: 0;
    transform: scale(0.75);
  }
  .header__content h1 {
    font-size: 35px;
  }
  .header__content-text {
    font-size: 15px;
  }
  .header__content-download {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 12px;
  }
  .header__content-download {
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .main-logo {
    font-size: 25px;
  }
  .header__nav {
    padding-top: 10px;
    margin-bottom: 10px;
  }
  .header__nav .menu-element {
    display: none;
  }
  .header__content {
    display: block;
    padding-bottom: 0;
  }
  .header__content-info {
    width: 100%;
  }
  .header__content-image {
    margin-bottom: 0;
  }
  .header__content-image .mockup-small {
    transform: scale(0.7);
    top: -10px;
    left: -50px;
  }
  .header__content-image .mockup-big {
    transform: scale(0.7);
    top: -74px;
    left: 80px;
  }
  .header__content-download {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 10px;
  }
}/*# sourceMappingURL=header.css.map */