*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  transition: .3s;
  background-color: rgb(245, 245, 245);
}
.dark-mode {
  transition: .3s;
  background-color: rgb(41, 41, 41);
  color: #fff;
  span {
    color: #fff;
  }
  header {
    background-color: rgb(78, 78, 78);
  }
  .light {
    display: none;
  }
  .dark {
    display: inline;
    color: #fff;
  }
}
.dark {
  display: none;
}

header {
  background-color: #fff;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 20px 0;
  button {
    background-color: transparent;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    &:active {
      background-color: rgba(243, 243, 243, 0.192);
    }
  }
}

.main__header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  input {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 8px -1px rgb(200, 200, 204);
    width: 300px;
    &:focus-visible {
      outline: none;
    }
  }
  select {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 3px 8px -1px rgb(200, 200, 204);
    padding: 10px 15px;
    &:focus-visible {
      outline: none;
    }
  }
}

.content__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-auto-flow: row;
  justify-content: space-between;
  column-gap: 20px;
  .country__card {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 20px 0;
    img {
      width: 250px;
      height: 150px;
    }
    .country {
      margin: 20px;
      font-size: 1.2rem;
    }
    p {
      margin: 3px 20px;
    }
    span {
      font-weight: bold;
    }
  }
}
