$orange: rgb(194, 136, 30);
$white: #ffff;
$black: black;

* {
  box-sizing: border-box;
}
div,
nav,
h1 {
  margin: 0;
  padding: 0;
}

img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
  margin: 0px auto;
  padding-top: 100px;
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  .decor {
    display: inline-block;
    width: 70px;
    background-color: $orange;
    height: 3px;
    margin-bottom: 50px;
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  a {
    padding: 5px 10px;
    color: $orange;
    text-decoration: none;
    border: 2px solid $orange;
    border-bottom-color: $black;
    border-right-color: $black;
    border-radius: 5px;
    margin: 0 10px;
    &:hover {
      background-color: $orange;
      color: $white;
    }
  }
}

.content-items {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(2, 800px);
  grid-template-rows: auto;
  #item {
    margin: 50px 0 0 50px;
    display: flex;
    img {
      border: 3px solid $orange;
      border-radius: 5px;
      margin-right: 50px;
    }
    .item__info {
      &_title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $black;
        padding-bottom: 10px;
        font-weight: bold;
        letter-spacing: 2.5px;
        .item__price {
          color: $orange;
        }
      }
      &_about {
        margin-top: 30px;
        opacity: .7;
        font-size: 18px;
      }
    }
  }
}
