*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
}
header::before {
  height: 150px;
  position: absolute;
  top: 68px;
  left: 0;
  right: 0;
  content: " ";
  background-color: aliceblue;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  ul {
    display: flex;
    list-style: none;
    li {
      margin-right: 40px;
    }
  }
  a {
    text-decoration: none;
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }
  .logo {
    font-size: 1.5rem;
    font-style: italic;
  }
}
.header__content {
  position: relative;
  margin: 60px 0;
  color: rgb(110, 110, 172);
  font-size: 2rem;
}
.shop__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.products__box {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: auto;
  gap: 15px;
  margin-bottom: 50px;
  .product__card {
    display: flex;
    color: black;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    &_name {
      opacity: 0.6;
      margin-bottom: 5px;
    }
    &_price {
      font-weight: bold;
    }
    img {
      width: 300px;
      border-radius: 5px;
    }
  }
}
.users__bar {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  input[type="search"] {
    border: none;
    background-color: aliceblue;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    li {
      button {
        text-align: left; 
        width: 90%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
        &:disabled:hover {
          text-decoration: none;
          cursor: auto;
        }
      }
      padding: 5px 0;
      .number-of-element {
        font-weight: 400;
        opacity: 0.7;
        float: right;
      }
    }
  }
  a {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    font-weight: bold;
    font-size: 1.1rem;
  }
}


.shopping-card {
  display: none;  
  position: fixed;
  width: 300px;
  background-color: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  .close {
    background-color: transparent;
    color: rgb(110, 110, 172);
    border: none;
    cursor: pointer;
    font-size: 2rem;
    width: 40px;
    height: 40px;
  }
  .title {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    &_info {
      display: flex;
      width: 130px;
      flex-direction: column;
      align-items:flex-start;
      button {
        flex-grow: 1;
        background-color: transparent;
        border: none;
        color: rgb(110, 110, 172);
        cursor: pointer;
        letter-spacing: 1.2px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    img {
      width: 80px;
      height: 60px;
      border-radius: 5px;
    }
    .toggle-arrow {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      button {
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        color:  rgba(149, 57, 26, 0.755);
      }
    }

  }
  &__footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex-grow: 1;
    button { 
      background-color:rgba(149, 57, 26, 0.755);
      border: none;
      border-radius: 3px;
      width: 70%;
      padding: 5px 10px;
      color: #fff;
      cursor: pointer;
      margin: 20px 0;
      &:hover {
        background-color:rgba(67, 32, 20, 0.755);
      }
    }
  }
}
@keyframes shoppCard {
  from {
    margin-right: -500px;
  }
  to {
    margin-right: 0px;
  }
}
@keyframes hide {
  from {
    margin-right: 0;
  }
  to {
    margin-right: -500px;
  }
}
.show { 
  display: flex;
  animation: shoppCard 1s;
}